@tailwind base;
@tailwind components;
@tailwind utilities;

*, ::before,::after{
    box-sizing: border-box;
}
body{
    background-color: #161616;
}

.img-slider-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
    filter: grayscale(1);
    opacity: .3;
    transition-behavior: normal, normal;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    transition-property: filter, opacity;
}
.img-slider-img:hover{
    filter: grayscale(0);
}

.dropdown-menu-wrap{
    position: absolute;
    top: 100%;
    max-height: 0px;
    width: 100px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.dropdown-menu-wrap.open-menu{
    max-height: 400px;
}

.underLineAni:before{
    content: '';
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0;
    left: 0;
    bottom:0px;
    transition: 0.3s;
}
.underLineAni:hover:before{
    width: 100%;
}